html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body { 
    background: #f0f0f0; 
    margin: 14px 10px;
    font-size: 14px;
    line-height: 1.4;
    width: 45em; 
    font-family: Calibri, Helvetica, Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin: 10px 0;
    letter-spacing: 0px;
}

h1 { 
    font-size: 32px;
    color: green; 
    text-align: center;
}

h2 { 
    font-size: 24px;
    color: navy;
    text-align: left; 
    padding-bottom: 0px;
    border-bottom: solid;
    border-bottom-width: medium;
}

h3 { 
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
    border-width: thin;
}

h4 { 
    font-size: 14px;
    font-weight: bold;
    text-align: right; 
    border-width: thin;
}

pre { 
    margin-top:    10px;
    margin-bottom: 10px;
    margin-left: 2em;
    margin-right: 2em;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 1.1;
    background-color: #fcfcfc;
    border: solid thin #cccccc;
}

table {
    border-collapse: separate;
    border-spacing: 1;
    vertical-align: middle;
    margin-top:    10px;
    margin-bottom: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

table, th, td {
    border: 1px solid;
    vertical-align: middle;
}

tt {
    font-family: "Courier New", Courier, monospace;
    font-size: inherit;
}

code {
    font-weight: bold;
    font-size: inherit;
    font-family: "Courier New", Courier, monospace;
}

p {
    text-indent:   0px;
    margin-top:    10px;
    margin-bottom: 10px;
}

ul, ol, dl {
  margin-bottom: 15px;
}

ul{
    list-style: disc outside none;
    padding: 10px 10px 10px 25px;
}

ol {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

